@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-bg {
  position: relative;
}
/* 
#hero-bg::before {
  content: "";
  background-image: url("./assets/img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(0.8);
} */
