@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-bg {
  position: relative;
}
/* 
#hero-bg::before {
  content: "";
  background-image: url("./assets/img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(0.8);
} */

.long-section {
  height: 100%;
  /* background-color: purple; */
}

.long-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    #05439e 83.85%
  );
  background-blend-mode: multiply;
  transform: rotate(-180deg);
  z-index: -1;
}
